@import url(inicio.css);
@import url(reset.css);

html {
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
    background: #000000;
}

section {
    position: absolute;
}


.quest{
    display: none;
}

.resultdo{
    display: none;
}
